@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/md5.js"></script>
    <!--<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>-->

    <script type="text/javascript">
        $(function () {

            loadData();
        });
        //主界面搭建
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/Admin/LoadBook',//获取数据
                title: '图书信息',
                width: $(window).width() - 20,
                //autoRowHeight: false,
                //pageSize: 50,
                //remoteSort:true,
                height: $(window).height() - 20,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'Id',//主键列的列明
                loadMsg: '正在加获取信息请稍后...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 100,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [100, 150, 200],
                queryParams: pars,//往后台传递参数
                columns: [[
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
					{ field: 'Id', title: '编号', width: 50 },
					{ field: 'BookName', title: '图书名', width: 100 },
                    { field: 'Author', title: '作者', width: 100 },
                    { field: 'Press', title: '出版社', width: 100 },
                    {
                        field: 'Presstime', title: '出版时间', width: 100,
                        formatter: function (value, row, index) {
                            if (value != null) {
                                return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                            }
                        }
                    },
                    { field: 'ISBN', title: 'ISBN编号', width: 100 },
                    { field: 'NewPrice', title: '价格', width: 100 },
                    { field: 'ParentId', title: '所属父类', width: 100 },
                    { field: 'ChildId', title: '所属子类', width: 100 },
                    { field: 'Stock', title: '库存', width: 100 },
					{
					    field: 'Reserve1', title: '入库时间', width: 100, align: 'left',

					    formatter: function (value, row, index) {
					        if (value != null) {
					            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
					        }

					    }


					},

                ]],
                toolbar: [{
                    id: 'btnDelte',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {


                        deleteInfo();
                    }


                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {

                        addInfo();
                    }


                }, {
                    id: 'btnEdit',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {

                        editInfo();
                    }


                }, {
                    id: 'btnsearch',
                    text: '搜索',
                    iconCls: 'icon-search',
                    handler: function () {

                        searchInfo();
                    }


                }, {
                    id: 'btnsearch',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        //传值
                        var pars = {
                            iccbn: "",
                            name: "",
                            classname: "",
                            writer: "",

                        };

                        loadData(pars)
                        //loadData();
                        //searchInfo();
                    }


                },

                ],
            });
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? +(date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? +date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + second;

        }
        //获取日期文本框的值
        function gettime() {
            var temp = $('#S_time1').datetimebox('getValue');
            var temp1 = $('#S_time2').datetimebox('getValue');
            $("#S_name1").val(temp);
            $("#S_name2").val(temp1);

        }
        function addInfo() {
            window.location.href = "/admin/EditBookView?action=add";
        }
        function editInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("message", "请选择要编辑的1条记录!", "error");
                return;
            }
            window.location.href = "/admin/EditBookView?action=edit&Id=" + rows[0].Id;
        }
        //用户搜索
        function searchInfo() {
            $("#searchDiv").css("display", "block");//隐藏DIV，此时可见度为none，
            $('#searchDiv').dialog({
                title: '多条件搜索',
                modal: true,
                buttons: [{
                    text: '确定',

                    iconCls: 'icon-ok',
                    handler: function () {

                        //传值
                        var pars = {
                            BookName: $("#pars_BookName").val(),
                            Author: $("#pars_Author").val(),
                            Press: $("#pars_Press").val(),
                            Presstime1: $('#s_time1').datebox('getValue'),
                            Presstime2: $('#s_time2').datebox('getValue'),
                            ISBN: $("#pars_ISBN").val(),
                            NewPrice: $("#pars_NewPrice").val(),
                            ParentId: $("#pars_ParentId").val(),
                            ChildId: $("#pars_ChildId").val(),
                            Stock: $("#pars_Stock").val(),
                            Reserve11: $('#s_time11').datebox('getValue'),
                            Reserve12: $('#s_time21').datebox('getValue')
                        };
                        loadData(pars)
                        $('#searchDiv').dialog('close');

                    }

                }, {
                    text: '取消',
                    handler: function () {

                        $('#searchDiv').dialog('close');

                    }
                }]
            });
        }

        //删除返回信息
        function aftersearch(data) {

            if (data.msg = "ok") {
                loadData()
            }
            else {
                alert("查询失败");
            }
        }
       

        //删除
        function deleteInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert("message", "请选择要删除的记录!", "error");
                return;
            }
            $.messager.confirm("meessage", "你确定要删除该项记录？", function (r) {

                if (r) {
                    var strid = "";
                    for (var i = 0; i < rows.length; i++) {//for循环取从第一列开始循环取出
                        if (i < rows.length - 1) {
                            strid = strid + rows[i].Id + ","//取到表格里面的ID属性例如：1，2，3，4，
                        }
                        else {
                            strid = strid + rows[i].Id
                        }
                    }//for
                    $.post("/Admin/DeleteBook", { "strid": strid }, function (data) {
                        if (data == "yes") {
                            $('#tt').datagrid('clearSelections');
                            $('#tt').datagrid('reload')

                        } else {
                            alert("删除失败")
                        }

                    });

                }
            });

        }
        //添加用户信息

    </script>


</head>
<body>
    <div>

        <table id="tt" style="width: 700px;" title="标题" iconcls="icon-edit"></table>
    </div>
    <!--搜索用户信息DIV--->
    <div id="searchDiv" style="display:none">

        <table>

            <tr>
                <td>图书名</td>
                <td>
                    <input type="text" name="BookName" id="pars_BookName" />
                </td>
            </tr>
            <tr>
                <td>作者</td>
                <td>
                    <input type="text" name="Author" id="pars_Author" />
                </td>
            </tr>
            <tr>
                <td>出版社</td>
                <td>
                    <input type="text" name="Press" id="pars_Press" />
                </td>
            </tr>
            <tr>
                <td>出版时间</td>
                <td>
                    <input type="text" name="Presstime1" class="easyui-datebox" id="s_time1" />
                </td>
                <td>&nbsp&nbsp到</td>
                <td>
                    <input type="text" name="Presstime2" class="easyui-datebox" id="s_time2" />
                </td>
            </tr>
            <tr>
                <td>ISBN编号</td>
                <td>
                    <input type="text" name="ISBN" id="pars_ISBN" />
                </td>
            </tr>
            <tr>
                <td>价格</td>
                <td>
                    <input type="text" name="NewPrice" id="pars_NewPrice" />
                </td>
            </tr>
            <tr>
                <td>所属父类</td>
                <td>
                    <select name="ParentId" id="pars_ParentId" style="width:173px;" onchange="change()">
                        <option value=""></option>
                        @{
                            foreach (var item in ViewBag.menu)
                            {
                                <option value="@item.Id">@item.CName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>所属子类</td>
                <td>
                    <select name="ChildId" id="pars_ChildId" style="width:173px;"></select>
                </td>
            </tr>
            <tr>
                <td>库存</td>
                <td>
                    <input type="text" name="Stock" id="pars_Stock" />
                </td>
            </tr>
            <tr>
                <td>入库时间</td>
                <td>
                    <input type="text" name="Reserve11" class="easyui-datebox" id="s_time11" />
                </td>
                <td>&nbsp&nbsp到</td>
                <td>
                    <input type="text" name="Reserve12" class="easyui-datebox" id="s_time21" />
                </td>
            </tr>
        </table>



    </div>
    <script type="text/javascript">
        function change() {
            var parentId = $("#pars_ParentId").val();
            //alert(parentId);
            $("#pars_ChildId").html("");
            $.post("/admin/ChangeMenu", { "ParentId": parentId }, function (data) {
                if (data.msg == "ok") {
                    var val = "";
                    val='<option value=""></option>'
                    for (var i = 0; i < data.rows.length; i++) {
                        val += '<option value="' + data.rows[i].Id + '">' + data.rows[i].SCName + '</option>'
                    }
                    $("#pars_ChildId").append(val);
                }
            });

        }
    </script>
</body>
</html>
